/* this is use for project list */
.projectStatus {
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.8);
}
:global(.dark_mode) .projectStatus {
  color: rgba(255, 255, 255, 0.8);
}

.projectStatusRunning {
  color: rgba(62, 175, 14, 0.8) !important;
}
.projectStatusStopped {
   // color: rgba(234, 8, 27, 0.7) !important;
}
.projectStatusStarting,
.projectStatusStopping {
  color: rgba(234, 118, 9, 0.7) !important;
}

.projectInfo {
  display: inline-block;
  padding-right: 20px;
  .curProjectRow {
    margin-left: 30px;
    height: 50px;
    display: inline-block;
    .rowLeft {
      float: left;
    }
    .rowRight {
      float: left;
      padding-left: 20px;
    }
    .projectName {
      font-size: 20px;
      line-height: 1.5em;
      font-weight: bold;
    }
    .projectStatus {
      font-size: 14px;
      line-height: 1.4em;
      color: #999;
    }
    .startIcon {
      margin-top: 8px;
      transition: transform 0.3s;
    }
    .startIcon:hover {
      transform: scale(1.2);
    }
  }
}
