.git
.gitignore
node_modules
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
*.log
desktop/dist
desktop/node_modules
.idea
README.md
img

**/.DS_Store
**/.git
**/.gitignore
**/.vscode
**/.idea

**/node_modules
**/npm-debug.log
**/yarn-error.log
**/package-lock.json

**/dist
**/build
**/coverage

**/.env
**/.env.local
**/.env.*.local


**/README.md
**/CHANGELOG.md
**/logs
**/*.log
