.inputEditor {
  outline: none;
  border: 1px solid #fff;
  transition: background 50ms ease-in 0s;
  font-size: 14px;
  line-height: 24px;
  min-width: 60px;
  border-radius: 2px;
}
:global(.dark_mode) .inputEditor{
  border: 1px solid #1f1f1f;
}
.sizeSmall .inputEditor {
  padding: 0px 4px;
}
.inputEditor:hover {
  background: rgba(55, 53, 47, 0.08);
}

.inputEditor:focus {
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  background: #ffffff;
  border: 1px solid #40a9ff;
}
:global(.dark_mode) .inputEditor:focus{
  background: #1f1f1f;
}

:global(.dark_mode) .inputEditor:hover {
  background: rgba(255, 253, 247, 0.08);
}

.inputWrap {
  position: relative;
  font-size: 14px;
  line-height: 24px;
}

.inputWrap .placeHolder,
.inputWrap .rightHolder {
  position: absolute;
  color: #bfbfbf;
  pointer-events: none;
  top: 0px;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 11px;
  left: 1px;
}
.sizeSmall .placeHolder {
  padding: 0px 4px;
}
:global(.dark_mode) .inputWrap .placeHolder,
:global(.dark_mode) .inputWrap .rightHolder{
  color: rgba(165,165,165,0.5);
}
.inputWrap .rightHolder {
  left: 1px;
}
.inputWrap .placeHolder {
  left: 1px;
}
