.defaultColumnHead {
    padding: 5px 8px;
    transition: background-color 300ms ease-in;
    cursor: pointer;
    min-height: 1.5em;
    box-sizing: content-box;
}
.defaultColumnHead:hover {
    background: rgba(0, 0, 0, 0.09);
}

.placeHolder{
    color: rgba(0, 0, 0, 0.2)
}

:global(.dark_mode) .placeHolder{
    color: rgba(255,255,255,0.2);
}

:global(.ant-table-cell-row-hover) .filterIcon{
    display: inline;
}

.filterIcon{
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
    display: none;
}