
.welcomePage{
  margin-top: 18vh;

  .title{
    font-size: 30px;
    line-height: 2em;
    text-align: center;
  }
  .smallTitle{
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
  }
}