.layout {
  .headRow {
    padding: 10px 0px;
    background: #24292f;
    color: #fff;
    min-height: 70px;
  }
  .mainRow {
    display: flex;
    background: linear-gradient(to right, rgb(247, 246, 243) 0, rgb(247, 246, 243) 200px, white 200px) repeat-y;
  }

  .leftCol {
    width: 200px;
    background: rgb(247, 246, 243);
    height: calc(100vh - 78px);
    flex-shrink: 0;
  }

  .rightCol {
    flex: 1;
  }
}

:global(.dark_mode){
  .layout{
    .mainRow{
      background: linear-gradient(to right,#1f1f1f 0,#1f1f1f 200px,#262626 2000px) repeat-y;
    }
    .headRow{
      background: #262626;
      border-bottom: 1px solid #595959;
    }
    .leftCol{
      background: #1f1f1f;
      color: rgb(191, 191, 191);
    }
    .rightCol{
      background: #262626;
    }
  }
}