.leftNav {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  .bottomVersion{
    position: fixed;
    bottom: 24px;
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    color: #8c8c8c;
  }
  .linkRow {
    margin: 3px 10px;
    border-radius: 8px;
    padding-left: 20px;
    height: 32px;
    line-height: 32px;
    display: block;
    color: #595959;
    transition: all ease-in 200ms;
    text-decoration: none;
  }
  .linkRow:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  .linkActivate {
    background: rgba(0, 0, 0, 0.12);
  }

  .linkActivate:hover {
    background: rgba(0, 0, 0, 0.18);
  }
}

:global(.dark_mode){
  .leftNav{
    .linkRow{
      color: rgb(191, 191, 191);
    }
    .bottomVersion{
      color: #595959;
    }
  }

  .linkRow:hover {
    background: rgba(0, 0, 0, 0.16);
  }
  .linkActivate {
    background: rgba(0, 0, 0, 0.24);
  }

  .linkActivate:hover {
    background: rgba(0, 0, 0, 0.32);
  }
}